.header-bar {
    /* #cfcfcf replace @borders */
    border-bottom: 1px solid #cfcfcf;
    min-height: 48px;
    max-height: 48px;
}

.main-toolbar {
    margin: 0;
    padding: 0;
}

.main-toolbar > .toolbar-box {
    margin: 0;
    padding: 0;
}

.main-content {
    margin: 20px;
    padding: 10px;
    /*background-color: #fafafa;*/
    border-radius: 8px;
}

.main-sidebar {
    margin: 20px;
    padding: 10px;
    /*background-color: #f0f0f0;*/
    border-radius: 8px;
}

.toolbar-button {
    width: 48px;
    height: 48px;
    min-height: 48px;
    min-width: 48px;
    padding: 10px;
    transition: box-shadow 0.2s ease;
    border-radius: 0;
    border: none;
    outline: none;
    background: transparent;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar-logo-container {
    width: 48px;
    height: 48px;
    min-height: 48px;
    min-width: 48px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar-button:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.05);
}

.toolbar-button:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.toolbar-button:checked {
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3) inset;
}

/* 欢迎页面样式 */
.title-1 {
    font-size: 24px;
    font-weight: bold;
}

.heading {
    font-size: 18px;
    font-weight: bold;
}

.body {
    font-size: 14px;
}

/* AI聊天样式 */
.ai-chat {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

@media (min-width: 3840px) {
    .main-toolbar {
        min-width: 48px;
        max-width: 48px;
        padding: 0;
        margin: 0;
    }

    .header-bar {
        /* #cfcfcf replace @borders */
        border-bottom: 1px solid #cfcfcf;
        min-height: 48px;
        max-height: 48px;
    }
}

@media (min-width: 2560px) {
    .main-toolbar {
        min-width: 32px;
        max-width: 32px;
        padding: 0;
        margin: 0;
    }

    .header-bar {
        /* #cfcfcf replace @borders */
        border-bottom: 1px solid #cfcfcf;
        min-height: 32px;
        max-height: 32px;
    }
}